// Cambia los códigos de color a tu gusto (ej. en coolors.co)
$body-background-color: #ffffff;
$sidebar-color: #f4f6fb;
$body-heading-color: #1b2a49;
$body-text-color: #2b2f38;
$link-color: #1a73e8;
$btn-primary-color: #1a73e8;
$nav-child-link-color: #444b5a;
